.App {
    text-align: center;
}

body {
    background-color: lightgray;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: darkred;
    font-size: 1.2rem;
}

a.active {
    font-weight: 700;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.item-list {
    min-width: 600px;
    max-width: 900px;
    padding: 0.2rem 0.5rem;
    margin: 2rem;
    border: 2px solid darkgrey;
}

.list-element {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    align-items: center;
    border: 2px solid darkgrey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.list-element-title {
    text-align: start;
}

.green {
    background-color: #2ecc7177;
}

.red {
    background-color: #e74c3c77;
}

.list-header {
    font-size: 1.5rem;
    margin: 0.3rem 0;
}

#payments-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#balance-widget {
    margin: 2rem;
    padding: 1rem 2rem;
    border: 2px solid darkgrey;
    border-radius: 1rem;
}

#balance-widget span {
    display: block;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

#connect-wallet {
    position: fixed;
    right: 0;
    top: 0.2rem;
}

.wallet-element {
    padding: 0.5rem;
    background-color: darkslategrey;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #33333399;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal div {
    background-color: white;
    min-width: 600px;
    padding: 1.6rem 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#propose-issue-window form {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 1rem 0px;
    padding: 0.5rem 0;
    width: 100%;
}

#propose-issue-button {
    margin-top: 2rem;
}

button {
    background-color: darkslategrey;
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}
